* {
    box-sizing: border-box;
}

body {
    padding: 100px;
    max-width: 810px;
    color: #F0F0F0;
}

em:hover {
    color: teal;
}

p:hover {
    color: orange;
}

strong:hover {
    color:blue;
}

#HOWL {
    display: inline;
    background-color: black;
    font-family: sans-serif;
    font-size: 100px;
    color: #F0F0F0;
    opacity: 0.5;
}

#HOWL:hover {
    color: yellow;
}

#WHOLIST {
    color: #F0F0F0;
    margin-right: 47px;
    font-family: sans-serif;
}

#WHOLIST:hover {
    color: red;
}

h2 {
    color: #F0F0F0;
    background-color: #383838;
}

h2:hover {
    color: #66FFCC;
}

a {
    color: yellow;
}

/* mouse over link */
a:hover {
    color: hotpink;
}