* {
    box-sizing: border-box;
    background-image: url("http://clocktower.org/sites/default/files/show/12192/node-image.jpg");
    
}

#HOWL {
    font-size: 10px
}

h1 {
  color: red;
}

    body {
        padding-left: 25px;
        padding-right: 50px;
        margin-right: 50px;
        width: 750px;
    }

p {
  color: green;
  font-size: 400px;
  background-color: white;
}

h2 {
  font-size: 70;
  background: white;
}

#starving {
  color: #99FF00;
  padding-left: 500px;
}

#jazz {
  color: #99FF00;
  padding-left: 500px;
}

strong {
  background-color: white;
  font-size: 60px;
  letter-spacing: 25px;
}

li {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 300px;
    font-family: sans-serif;
    color: red;
}

em {
  text-transform: capitalize;
  color: white;
}

a {
  color: #99ff99;
  font-size: 100px ;
}