* {
    box-sizing: border-box;
}

body {
    padding: 100px;
    max-width: 810px;
}

#HOWL {
    background-color: black;
    font-family: sans-serif;
    font-size: 100px;
    color: white;
    position: fixed;
    opacity: 0.5;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

#WHOLIST {
    color: red;
    margin-right: 47px;
    font-family: sans-serif;
}

h2 {
    color: #66FFCC;
    background-color: #383838;

}