* {
    background-image: url(http://yourshot.nationalgeographic.com/u/ss/fQYSUbVfts-T7pS2VP2wnKyN8wxywmXtY0-FwsgxpixNii1xwyhS9psImI6smFk90a205yhFepnyTl2UUiJd/);
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-size: 75px 75px;
    box-sizing: border-box;
}

body {
    padding: 100px;
    max-width: 810px;
    color: white;
}

#HOWL {
    display: inline;
    background-color: black;
    font-family: sans-serif;
    font-size: 100px;
    color: yellow;
    opacity: 0.5;
    animation: blinker .01s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

#WHOLIST {
    color: red;
    margin-right: 47px;
    font-family: sans-serif;
}

h2 {
    color: #66FFCC;
    background-color: #383838;
}

a {
    color: yellow;
}

/* mouse over link */
a:hover {
    color: hotpink;
}